@import "./colors.scss";

.header {
  $padding-top: 1rem;
  $font-size: 1rem;

  text-align: center;
  margin: 5rem 0;

  &__title {
    padding-top: $padding-top;
    font-size: $font-size;
    font-weight: 900;
    max-width: 960px;
    line-height: 1.2;
    text-align: center;
    margin: 0 auto;
    color: lighten($color: #000000, $amount: 25);

    &_decorated {
      background: linear-gradient(to right, $green, $blue, $indigo);
      background-clip: text;
      -webkit-background-clip: text;
      -moz-background-clip: text;
      -moz-text-fill-color: transparent;
      -webkit-text-fill-color: transparent;
    }
  }

  &__text {
    font-size: 1.3rem;
    margin-top: 1rem;
    color: gray;
    text-align: center;
  }
}

ul {
  margin-bottom: 1rem;
  li {
    margin-bottom: 1rem;
  }
}

.benefits {
  max-width: 90%;
  width: 75vw;
  margin: 2rem auto;

  &__title {
    font-weight: 500;
    font-size: 115%;
  }

  img {
    width: 50px;
    margin-bottom: 0.2em;
  }
}

@media screen and (min-width: 568px) {
  .header {
    $padding-top: 2rem;
    $font-size: 5rem;
    &__title {
      padding-top: $padding-top;
      font-size: $font-size;
      line-height: 1;
    }
  }
}
